<section>
  <div class="row">
    <div class="col-md-7 songs mt-3 mx-auto">
      <div class="card-body scroll p-4">
        <h3 class="text-center p-2 text-white">All Songs</h3>
        <hr>
        <ul class="song_list">
          <li class="p-3 mt-3" *ngFor="let file of files" (click)="openFile(file.url)"><i
              class="far fa-play-circle"></i>&nbsp; {{file.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="seek_bar p-4">
    <div class="p-2">
      <input type="range" min="0" max="{{currentTime}}" [value]="seek" (input)="setSeekTo($event)" style="width: 100%;">
      <span>{{currentTime}}</span> / <span>{{duration}}</span>
    </div>
    <!-- controls -->
    <div class="control p-2">
      <div>
        <p (click)="pause()"><i class="fas fa-pause-circle"></i></p>
      </div>
      <div>
        <p (click)="play()"><i class="fas fa-play-circle"></i></p>
      </div>
      <div>
        <p (click)="stop()"><i class="fas fa-stop-circle"></i></p>
      </div>
      <div> <input type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)"><label
          class="text-white ml-3 font-weight-bold">Volume</label></div>




    </div>
  </div>
</section>